<mat-toolbar>
  <mat-toolbar-row>
    <span>aniTRACK</span>
    <span>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['']">Home</button>
        <button *ngIf="isLoggedIn === false" mat-menu-item [routerLink]="['/auth']">Login</button>

        <button *ngIf="isLoggedIn" [routerLink]="['/reviews']" mat-menu-item>Review</button>
        <button *ngIf="isLoggedIn" [routerLink]="['/board']" mat-menu-item>Message Board</button>
        <button *ngIf="isLoggedIn" (click)="onLogOut()" mat-menu-item>Log Out</button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>